#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias d="cd ~/Documents/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/projects"
alias g="git"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
	export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
	colorflag="-G"
	export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, excluding . and ..
alias la="ls -lAF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
alias canary='/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# JavaScriptCore REPL
jscbin="/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc";
[ -e "${jscbin}" ] && alias jsc="${jscbin}";
unset jscbin;

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files, preserving hyperlinks
# Usage: `mergepdf input{1,2,3}.pdf`
alias mergepdf='gs -q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=_merged.pdf'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"

# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Airport CLI alias
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "${method}"="lwp-request -m '${method}'"
done

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

alias artisan="php artisan"
alias getweb="wget --recursive --no-clobber --page-requisites --html-extension --convert-links --no-parent"

alias code="cd ~/code/"
alias home="cd ~/code/tamtam/home"
alias apittp="cd ~/code/tamtam/apittp"
alias rentimo="cd ~/code/tamtam/rentimo"
alias boyacars="cd ~/code/tamtam/boyacars"

alias cuat='git checkout origin/uat'
alias cdiff='git diff media2rc..origin/uat --'

alias api="cd ~/code/tamtam/apittp/src/TTP/ApiBundle"
alias blog="cd ~/code/tamtam/apittp/src/TTP/BlogBundle"
alias event="cd ~/code/tamtam/apittp/src/TTP/EventBundle"
alias mailer="cd ~/code/tamtam/apittp/src/TTP/MailerBundle"
alias mailing="cd ~/code/tamtam/apittp/src/TTP/MailingBundle"
alias payment="cd ~/code/tamtam/apittp/src/TTP/PaymentBundle"
alias rbac="cd ~/code/tamtam/apittp/src/TTP/RbacBundle"
alias survey="cd ~/code/tamtam/apittp/src/TTP/SurveyBundle"
alias talk="cd ~/code/tamtam/apittp/src/TTP/TalkBundle"
alias wtb="cd ~/code/tamtam/apittp/src/TTP/WtbBundle"
alias media="cd ~/code/tamtam/apittp/src/TTP/MediaBundle"
alias billing="cd ~/code/tamtam/apittp/src/TTP/BillingBundle"
alias membership="cd ~/code/tamtam/apittp/src/TTP/MembershipBundle"
alias data="cd ~/code/tamtam/apittp/src/TTP/DataBundle"

alias update="composer global update; npm update -g;"
alias hist="clear && history | sed 's/.[ ]*.[0-9]*.[ ]*//' | sort -u | uniq"
alias histg="clear && history | sed 's/.[ ]*.[0-9]*.[ ]*//' | sort -u | uniq | grep -i"

alias aliases='atom -a ~/.bash_aliases'
alias save_aliases='source ~/.bash_aliases && source ~/.zshrc'
alias save_zshrc='source ~/.zshrc'

alias gitatom='git config --global rerere.enabled 1; git config --add rebase.instructionFormat "(%an <%ae>) %s"; git config --global core.editor "atom --wait"'
alias gitnano='git config --global core.editor "nano"'

#alias phpcs="vendor/bin/phpcs"
#alias phpcbf="vendor/bin/phpcbf"
alias phpmd='php -d memory_limit=-1 vendor/bin/phpmd'
alias phpcpd="php -d memory_limit=-1 vendor/bin/phpcpd"

alias aphpcpd='php -d memory_limit=-1 vendor/bin/phpcpd --names-exclude="*Test.php" src/'
alias aphpmd='php -d memory_limit=-1 vendor/bin/phpmd src/TTP/ApiBundle --exclude "Tests" text unusedcode,controversial'

alias phpunit="clear && vendor/bin/phpunit"
alias sphpunit="clear && vendor/bin/simple-phpunit"
alias mphpunit="clear && ../../../vendor/bin/phpunit"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias hostfile="sudo atom -a /etc/hosts"

alias dsu='apittp && bin/console doctrine:schema:update'
alias nah='git reset --hard;git clean -df'
alias copyssh="pbcopy < $HOME/.ssh/id_rsa.pub"
alias reloadcli="source $HOME/.zshrc"
alias showFiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app'
alias hideFiles='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app'
alias scopy="rsync -avz -P -e 'ssh'"
alias mampmysql="/Applications/MAMP/Library/bin/mysql -u root -proot"

alias wip="git add .;git commit -am 'wip'"
alias clearapilogs='sudo rm -rf /Users/yoeunes/code/tamtam/apittp/var/logs/*'
alias clearhomelogs=': > storage/logs/laravel.log'

alias preview="fzf --preview 'bat --color \"always\" {}'"
alias cat='bat'
alias top="sudo htop"
alias du="ncdu --color dark -rr -x --exclude .git --exclude node_modules,vendor"
alias help='tldr'

alias storageprod='rsync -r --info=progress2 --stats --ignore-existing -a -h -e "ssh -i ~/.ssh/prod-server.pem"  ec2-user@api2.tamtam.pro:/home/ec2-user/plateforme/api/storage ~/code/tamtam/apittp/web'
alias storageuat='rsync -r --info=progress2 --stats --ignore-existing -a -h -e "ssh -i ~/.ssh/uat-server.pem"  ec2-user@uat2.api.tamtam.pro:/home/ec2-user/plateforme/api/storage ~/code/tamtam/apittp/web'
alias storagedev='rsync -r --info=progress2 --stats --ignore-existing -a -h -e "ssh -i ~/.ssh/dev-server.pem"  ec2-user@dev2.api.tamtam.pro:/home/ec2-user/plateforme/api/storage ~/code/tamtam/apittp/web'

alias ciprod='git commit --allow-empty -m "[ci:base=splitup-prod] and [ci:env=prod]"'
alias ciuat='git commit --allow-empty -m "[ci:base=splitup-uat] and [ci:env=uat]"'
alias cidev='git commit --allow-empty -m "[ci:base=splitup] and [ci:env=develop]"'
alias circ='git commit --allow-empty -m "[ci:base=rc] and [ci:env=rc]"'

alias sshprod='ssh -i ~/.ssh/prod-server.pem ec2-user@52.16.83.192'
alias sshdev='ssh -i ~/.ssh/dev-server.pem ec2-user@dev2.api.tamtam.pro'
alias sshuat='ssh -i ~/.ssh/uat-server.pem ec2-user@uat2.api.tamtam.pro'
alias sshrc='ssh -i ~/.ssh/rc-server.pem ec2-user@rc.api.tamtam.pro'
alias triocom="ssh triocom"

alias resup="sudo supervisorctl -c /usr/local/etc/supervisord.ini reread && sudo supervisorctl -c /usr/local/etc/supervisord.ini update"
alias supconf="open /usr/local/etc/supervisor.d"

alias subinit='git submodule update --init --recursive'
alias subnah="git submodule foreach --recursive 'git reset --hard;git clean -df || :'"
alias subcheckout='git submodule foreach --recursive git checkout'
alias subpull='git submodule foreach --recursive git pull origin'
alias subfetch='git submodule foreach --recursive git fetch'

alias splitup='apittp && subinit && git checkout splitup && subinit && subcheckout develop'
alias splitupuat='apittp && subinit && git checkout splitup-uat && subinit && subcheckout uat'
alias splitupprod='apittp && subinit && git checkout splitup-prod && subinit && subcheckout prod'
alias splituprc='apittp && subinit && git checkout rc && subinit && subcheckout rc'

alias domains="cd /Users/yoeunes/code/yoeunes/domainnames && printf '\33c\e[3J' && ./domains && cd -"
alias clears="printf '\33c\e[3J'"

export SSH_KEY_PATH="~/.ssh/rsa_id"
export EDITOR=nano
export SYMFONY_ENV=local
export SYMFONY_DEBUG=true
export GPG_TTY=$(tty)
export PATH="$PATH:$HOME/.composer/vendor/bin"
export ZSH_THEME="nicoulaj"
export LC_ALL='en_US.UTF-8'
export LANG='en_US.UTF-8'

export TTP_DATABASE_PORT=33060

#export JENV_ROOT="/usr/local/Cellar/jenv/"
# export JAVA_HOME=`/usr/libexec/java_home -v 11`
export PATH="$HOME/.symfony/bin:$PATH"
export PATH=/usr/local/bin:$PATH

#if which jenv > /dev/null; then eval "$(jenv init -)"; fi

# eval $(ssh-agent -s)
#eval $(dinghy env)

# ssh-add -K ~/.ssh/id_rsa
# ssh-add -K ~/.ssh/github-elkenzi

plugins=(
  git
  ssh-agent
  zsh_reload
  colored-man-pages
  symfony
  laravel
  zsh-syntax-highlighting
  zsh-autosuggestions
)

listening() {
    if [ $# -eq 0 ]; then
        sudo lsof -iTCP -sTCP:LISTEN -n -P
    elif [ $# -eq 1 ]; then
        sudo lsof -iTCP -sTCP:LISTEN -n -P | grep -i --color $1
    else
        echo "Usage: listening [pattern]"
    fi
}

function homestead() {
    ( cd ~/Homestead && vagrant $* )
}

function laradock() {
    ( cd ~/code/tamtam/laradock && docker-compose $* )
}

function clone() {
    ( hub clone $1 $1 )
}

function unit() {
  clear

  currentDirectory=$(pwd)

  cd "/Users/yoeunes/code/tamtam/apittp"

  ./vendor/bin/phpunit "$currentDirectory/$1"

  cd "$currentDirectory"
}

function apidiff() {
   ( git diff --color-words --no-index /Users/yoeunes/code/tamtam/apittp/$1 /Users/yoeunes/code/bruno-apittp/$1 )
}

function datesync() {
    sudo service ntp stop && sudo ntpd -gq && sudo service ntp start
}

function gitusername() {
  username=$1
  email=$2

  git config --global user.name "$username"
  git config --global user.email "$email"

  if [ ! -d .git ]; then
    return 1
  fi;

  git config user.name "$username"
  git config user.email "$email"

  if [[ $(git submodule status) ]]; then
      git submodule foreach --recursive git config user.name "$username"
      git submodule foreach --recursive git config user.email "$email"
  fi
}

alias gityoeunes='gitusername "Younes Khoubza" "younes.khoubza@gmail.com"'
alias gitelkenzi='gitusername "Mohamed Amine EL KENZI" "elkenziamine@gmail.com"'

function signmycommits() {
  git filter-branch --commit-filter 'if [ "$GIT_COMMITTER_EMAIL" = "younes.khoubza@gmail.com" ];
  then git commit-tree -S "$@";
  else git commit-tree "$@";
  fi' HEAD
}

composer-link() {
    composer config repositories.local '{"type": "path", "url": "'$1'"}' --file composer.json
}
